
.mainPart{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.sidebar{
    padding: 20px;
    padding-right: 70px;
    border: solid black;
    margin-right: 50px;
    width: 400px;
    height: 400px;
}

.sidebar > h5{
    font-size: 20px;
}
.rechercheEtProduits{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barreRecherche{
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
}
.Produits{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.333333%;

}

.ESP{
    padding: 10px;
    background-color: #F9F24D;
    color: #000;
    cursor: pointer;
}

.divProd{
    width: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
    border: solid #000;
    text-align: center;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;

}

.chercheProduit{
    height: 30px;
    width: 200px;
    border: solid #F9F24D;
    background-color: #F3F3F3;
}

.barreRecherche > a{
    text-decoration: none;
    color: #000;
    background-color: #F9F24D;
    padding: 10px;

    font-size: 13px;
}